body {
  background-color: #C1BA2E ;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
/* making my own class */

.myclass {
  background-color: blue;
}